@{
    ViewBag.Title = "Home Page";
    var account = "123";
    var welcomeMessage = "";
    if (Request.Cookies["userName"] == null)
    {
        welcomeMessage = "訪客請登入";
    }
    else
    {
        welcomeMessage = "歡迎登入:" + Request.Cookies["userName"].Value;
    }
}

<div class="form-horizontal">
    <div id="activity_grid"></div>
</div>

<div class="form-horizontal" id="detail_form">
    <table style="border-collapse:separate; border-spacing:0px 10px; font-size:20px;">
        <tr>
            <th class="col-md-4">書名</th>
            <td class="col-md-10">
                <label id="detail_book_name"></label>
            </td>
        </tr>
        <tr>
            <th class="col-md-4">作者</th>
            <td class="col-md-10">
                <label id="detail_book_author"></label>
            </td>
        </tr>
        <tr>
            <th class="col-md-4">出版商</th>
            <td class="col-md-10">
                <label id="detail_book_publisher"></label>
            </td>
        </tr>
        <tr>
            <th class="col-md-4">內容簡介</th>
            <td class="col-md-10">
                <label id="detail_book_note"></label>
            </td>
        </tr>
        <tr>
            <th class="col-md-4">購書日期</th>
            <td class="col-md-10">
                <label id="detail_book_bought_date" typeof="date"></label>
            </td>
        </tr>
        <tr>
            <th class="col-md-4">圖書類別</th>
            <td class="col-md-10">
                <label id="detail_book_category"></label>
            </td>
        </tr>
    </table>
</div>

<script src="~/Scripts/index.js"></script>

