@{
    ViewBag.Title = "Home Page";
    var account = ViewBag.test;
    var welcomeMessage = "";
    if (Request.Cookies["MemberName"] == null)
    {
        welcomeMessage = "訪客請登入";
    }
    else
    {
        welcomeMessage = "歡迎登入:" + Request.Cookies["MemberName"].Value;
    }
    var memberId = "";
    if (Request.Cookies["MemberId"] == null)
    {
        memberId = "";
    }
    else
    {
        memberId = Request.Cookies["MemberId"].Value;
    }
}
<label hidden="hidden" id="label_memberId">@memberId</label>
<div class="form-horizontal">
    <div class="form-group" style="padding-top:3%">
        <div class="col-md-6">
            <input id="search_activity" style="margin-right:1%"/>
            <button id="btn_search_activity">搜尋</button>
        </div>
        <div class="col-md-12" style="padding-top:1%">
            <button id="btn_create_activity">創建活動</button>
            <button id="btn_manage_activity">管理活動</button>
            <button id="btn_view_join_activity">查看已參加活動</button>
            <button id="btn_cancel" style="float:right">取消</button>
        </div>
    </div>
    <div id="activity_grid"></div>
</div>

@*創建活動window*@
<div class="form-horizontal" id="insert_form" style="font-size:16px">
    <table style="border-collapse:separate; border-spacing:0px 10px; font-size:14px;">
        <tr>
            <th class="col-md-4">
                <label class="control-label">活動名稱</label>
            </th>
            <td>
                <input id="add_activity_name" name="add_activity_name" class="form-control" validationMessage="此欄位必填" required />
                <span class="k-invalid-msg" data-for="add_activity_name"></span>
            </td>
        </tr>

        <tr>
            <th class="col-md-4">
                <label class="control-label">活動人數</label>
            </th>
            <td>
                <input id="add_activity_number" name="add_activity_number" class="form-control" validationMessage="此欄位必填" onkeyup="value=value.replace(/[^\d]/g,'')" required />
                <span class="k-invalid-msg" data-for="add_activity_number"></span>
            </td>
        </tr>

        <tr>
            <th class="col-md-4">
                <label class="control-label">內容簡介</label>
            </th>
            <td>
                <textarea id="add_activity_note" name="add_activity_note" class="form-control" validationMessage="此欄位必填" required></textarea>
                <span class="k-invalid-msg" data-for="add_activity_note"></span>
            </td>
        </tr>

        <tr>
            <th class="col-md-4">
                <label class="control-label">活動日期</label>
            </th>
            <td>
                <input id="add_activity_date" name="add_activity_date" type="date" validationMessage="此欄位必填" required />
                <span class="k-invalid-msg" data-for="add_activity_date"></span>
            </td>
        </tr>
        <button id="btn_add_activity">新增</button>
    </table>
</div>

<script src="~/Scripts/index.js"></script>

