
@{
    ViewBag.Title = "ManageRoom";
}

<style type="text/css">
    h2 {
        margin-bottom: 30px;
    }

    .field {
        margin-bottom: 15px;
    }
    button {
        border: 0px;
        color: black;
        background-color: #d9e1e8;
        padding: 3px 10px;
        border-radius: 10px
    }
</style>

<form>
    <h2>請輸入活動資訊</h2>
    <div class="field">
        <label>活動名稱:</label>
        <input type="text" class="input" id="activity_name" name="activity_name" value="">
    </div>
    <div class="field">
        <label>活動類型:</label>
        <input type="text" class="input" id="activity_type" name="activity_type" value="">
    </div>
    <button type="submit">更新</button>
</form>
