
@{
    ViewBag.Title = "ViewPartcipants";
}

<style type="text/css">
    ul {
        padding: 0px;
        list-style: none;
    }

    table {
        width: 100%;
    }

    .user_name {
        width: 80%;
    }

    button {
        border: 0px;
        color: black;
        background-color: #d9e1e8;
        padding: 3px 10px;
        border-radius: 10px
    }
</style>

<h2>參加者名單</h2>
<ul>
    <li>
        <table>
            <tr>
                <td class="user_name"><p>王小明</p></td>
                <td><button>踢出</button></td>
            </tr>
        </table>
    </li>
    <li>
        <table>
            <tr>
                <td class="user_name"><p>林大頭</p></td>
                <td><button>踢出</button></td>
            </tr>
        </table>
    </li>
    <li>
        <table>
            <tr>
                <td class="user_name"><p>陳小華</p></td>
                <td><button>踢出</button></td>
            </tr>
        </table>
    </li>
</ul>


